<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
     <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
     <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <% if customer_signed_in? %>
        <%= render 'layouts/header_public' %>
      <% elsif admin_signed_in? %>
        <%= render 'layouts/header.admin' %>
      <% else %>
        <%= render 'layouts/header.logout' %>
      <% end %>
    </header>

    <%= yield %>

    <footer class="footer text-white fixed-bottom p-2" style="background-color: #A52A2A;">
      <div class="row">
        <div class="offset-8 mt-3">
          <p class="text footer-text">© Copyright 2022 株式会社 NaganoCake.inc</p>
        </div>
      </div>
    </footer>
  </body>
</html>